/*Modal Like */
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Raleway, Helvetica, sans-serif;
  background: #f1f1f1;
}

.modal-like-container {
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  transition: visibility 0.4s;
}
.modal-like-container.active {
  visibility: visible;
}

.overlay {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background: #333333d3;
  transition: opacity 0.4s 0.2s ease-out;
}
.modal-like-container.active .overlay {
  opacity: 1;
  transition: opacity 0.4s ease-out;
}

.modal-like {
  opacity: 0;
  width: 95%;
  max-width: 500px;
  min-width: 300px;
  padding: 30px;
  background-color: #db8876;
  border-radius: 5px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, calc(-50% - 50px));
  transition: opacity 0.4s ease-out, transform 0.4s ease-out;
}

.modal-like-container.active .modal-like {
  opacity: 1;
  transform: translate(-50%, -50%);
  transition: opacity 0.4s 0.2s ease-out, transform 0.4s 0.2s ease-out;
  display: flex;
  justify-content: center;
}

.close-modal-like {
  padding: 6px 10px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  background: #901c1c;
  color: #fff;
}
.modal-like h1 {
  margin-bottom: 10px;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
}
.modal-like p {
  line-height: 1.4;
  margin-bottom: 5px;
}

i.fa-solid.fa-heart {
  margin-left: 3px;
}

p#dialogDesc {
  color: black;
  font-size: 24px;
  font-weight: 500;
}
