#contact_modal {
  display: none;
}

.photograph-header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #fafafa;
  min-height: 300px;
}

.photographer_details {
  display: flex;
  flex-direction: column;
  height: 45px;
  align-items: flex-start;
  justify-content: space-between;
}

.photographer_title_profil {
  color: #d3573c;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  margin: 0;
}

.photographer_location_profil {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  margin: 0;
  color: #901c1c;
}

.photographer_tagline_profil {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 40px;
  color: #525252;
}

.title_header {
  color: #911c1c;
}

.contact_button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
}

.submit_form {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
}

fieldset {
  border: none;
  width: 100%;
  display: flex;
  flex-direction: column;
}

legend {
  font-weight: 500;
  display: flex;
  font-size: 64px;
  /* align-items: center; */
}

#contact-form-legend {
  margin: 0;
  width: 75%;
}

.valueInput {
  font-size: 25px;
  padding: 5px 20px;
}

.imgCloseModal {
  position: absolute;
  right: 40px;
  cursor: pointer;
}

.modal {
  border-radius: 5px;
  background-color: #db8876;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  margin: auto;
  position: absolute;
  left: 25%;
  top: 25%;
  z-index: 1;
}

/* .newClass {
  content-visibility: hidden;
} */

.modal header {
  justify-content: space-between;
  width: 100%;
}

.modal header img {
  cursor: pointer;
}

.modal header h2 {
  font-size: 64px;
  font-weight: normal;
  text-align: center;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

form label {
  color: #312e2e;
  font-size: 36px;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}

form input {
  width: 96%;
  height: 68px;
  border: none;
  border-radius: 5px;
}

/*New class à trier */

img.img_profil {
  height: 192px;
  width: 192px;
  object-fit: cover;
}

.message {
  width: 96%;
  min-height: 150px;
  max-height: 300px;
  border-radius: 5px;
  font-size: 25px;
  padding: 5px 20px;
}

/*Media */
.media-card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  align-content: space-between;
  justify-items: center;
  position: relative;
}
.media_card_article {
  width: 350px;
  height: 300px;
  margin-top: 45px;
}

.media_card_imgArticle {
  width: 100%;
  object-fit: cover;
  height: 90%;
  border-radius: 5px;
  cursor: pointer;
}

.container_title_like {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.media_card_videoArticle {
  background-color: black;
  width: 350px;
  min-height: 275px;
  border-radius: 5px;
  cursor: pointer;
}

.media_card_titleAndLikesArticle {
  display: flex;
  justify-content: space-between;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 31px;
  color: #911c1c;
  margin: 0;
}

/*modalPriceAndLiked */

.modalPriceAndLiked {
  background: #db8876;
  border-radius: 5px;
  color: #000000;
  height: 80px;
  width: 376px;
  position: fixed;
  bottom: 0;
  right: 8%;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 31px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.totalLikes {
  margin-right: -80px;
}

span.like {
  cursor: pointer;
}

.liked::after {
  content: "❤️";
  cursor: pointer;
}

/*select de tri avec 3 filtres */

label {
  font-size: 1rem;
  padding-right: 10px;
  font-weight: 700;
  font-size: 18px;
}

select {
  font-size: 0.9rem;
  padding: 2px 5px;
}

.container-filter-select {
  background-color: #911c1c;
  width: 170px;
  color: white;
  border-radius: 5px;
  height: 50px;
  font-size: 18px;
}

.container-filter-select {
  margin-top: 20px;
}
