@import url("photographer.css");

body {
  font-family: "DM Sans", sans-serif;
  margin: 0px 75px;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}

.logo {
  height: 50px;
}

.photographer_section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 70px;
  margin-top: 75px;
}

.photographer_section article {
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.photographer_section article h2 {
  color: #d3573c;
  font-size: 36px;
}

.photographer_section article img {
  height: 192px;
  width: 192px;
  object-fit: cover;
}

.container_descriptif_profil {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img_profil {
  border-radius: 100%;
}

a#photographer_id {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
}

.title_profil {
  color: #901c1c;
  font-weight: 400;
  font-size: 36px;
  line-height: 47px;
  margin: 0;
  text-align: center;
}

.location_profil {
  color: #901c1c;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 17px;
  margin: 0;
}

.tagline_profil {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 15px;
  text-align: center;
  margin: 0;
  margin: 0;
}

.price_profil {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 15px;
  text-align: center;
  color: #757575;
  margin: 0;
}
